
/* ═══════════════════════════════════════════════
   Base
═══════════════════════════════════════════════ */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

/* ═══════════════════════════════════════════════
   Ilhas — base comum
═══════════════════════════════════════════════ */
#custom-arch,
#workspaces,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    border-radius: 999px;
    background-color: alpha(@color0,0.88);
    
    padding: 0 18px;
    margin: 8px 10px;
    border: 1px solid alpha(@foreground, 0.2);
    min-height: 36px;
    
    transition:
        background-color .25s ease,
        border-color .25s ease,
        color .25s ease,
        box-shadow .25s ease;
}
/* ═══════════════════════════════════════════════
   Ilhas - animação 
═══════════════════════════════════════════════ */


#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover {
    background-color: @color4;
    color: @color2;
}

/* ═══════════════════════════════════════════════
   Ilhas — bordas e cores individuais
═══════════════════════════════════════════════ */
#custom-arch {
    /*border-radius: 12px 0 0 12px;*/
    color: @color4;
    font-size: 18px;
    padding: 0 16px 0 18px;
    border-radius: 999px 0 0 999px;
    margin: 8px 0 8px 10px;
}

#workspaces {
    /*border-radius: 0 12px 12px 0;*/
    padding: 0 14px 0 10px;
    border-radius: 0 999px 999px 0;
    margin: 8px 10px 8px 0;
}

#clock {
    border-radius: 999px;
    margin: 5px 6px;
    color: @color6;
    font-weight: bold;
    border-color: alpha(@color6, 0.3);
}

/* Lado direito: pulseaudio → network → cpu → memory → tray */
#pulseaudio {
    /*border-radius: 12px 0 0 12px;*/
    color: @color3;
    border-right: none;
    
}

#network {
    color: @color3;
    border-left: none;
    border-right: none;
}

#cpu {
    color: @color3;
    border-left: none;
    border-right: none;
}

#memory {
    color: @color3;
    border-left: none;
    border-right: none;
}

#tray {
    border-radius: 0 12px 12px 0;
    border-left: none;
}

/* ═══════════════════════════════════════════════
   Margens dos módulos
═══════════════════════════════════════════════ */
#modules-left,
#modules-center,
#modules-right {
    margin: 0;
}

/* ═══════════════════════════════════════════════
   Workspaces
═══════════════════════════════════════════════ */
#workspaces button {
    padding: 0 8px;
    color: @foreground;
    opacity: 0.4;
    background: transparent;
    box-shadow: none;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    opacity: 0.7;
    background-color: alpha(@foreground, 0.07);
}

#workspaces button.active {
    background: alpha(@color4,0.15);
    color: @color4;
    border-radius: 8px;
    border: none;
}

#workspaces button.urgent {
    color: @color1;
    opacity: 1;
    border-bottom: 2px solid @color1;
}
